DEV_API_BASE_URL=http://localhost:5000
PORT=5000
NODE_ENV=dev


SUPABASE_URL=https://ijxfnhtjjvgiqogcyhov.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlqeGZuaHRqanZnaXFvZ2N5aG92Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI5MDAyODIsImV4cCI6MjA1ODQ3NjI4Mn0.oCM3r2d_7-kAml3J5QPmMwBwlrop_wytAwYDkpTSs5o
SUPABASE_SERVICE_KEY=[KEY_HERE]